 /* @import "tailwindcss" important; */
 @import "tailwindcss";
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 *{
  cursor: none;
  font-family: "Josefin Sans", sans-serif;
}
.cursor{
  width: 25px;
  height: 25px;
  border-radius: 40%;
  background-image: url("./assets/cursor.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  object-fit: cover;
  border-radius: 50%;
  z-index: 9999;
  position: fixed;
}
@media screen and (max-width: 750px) {
  .cursor{
    display: none;
  }
}
