 /* @import "tailwindcss" important; */
 @import "tailwindcss";
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 *{
  cursor: none;
  font-family: "Josefin Sans", sans-serif;
}
.cursor{
  width: 25px;
  height: 25px;
  background-image: url("./assets/ball.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  object-fit: cover;
  border-radius: 50%;
  z-index: 9999;
  position: fixed;
  /* animation: 1s rotate 0s linear infinite  */
}

@keyframes rotate {from{transform: rotate(0deg);}to{transform: rotate(360deg);}}

@media screen and (max-width: 950px) {
  .cursor{
    display: none;
  }
}
